.grupo {
  position: relative; 
  width: 80px; 
  height: 80px; 
  margin-bottom: 5px;
	display: inline-block;
}

.fosforo {
  width: auto; 
  height: 60px; 
  margin-right: 2px;
  display: block; 
  object-fit: contain; 
	position: absolute;


}

.fosforo1 {
  position: absolute;
	transform: rotate(90deg);
	top:-30px;
	left:32px;
}

.fosforo2 {
  position: absolute;
	transform: rotate(180deg);
	left:  65px;
	top: 0px;
}

.fosforo3 {
	position: absolute;
	transform: rotate(270deg);
	top: 32px;
	left: 32px;
}

.fosforo4 {
  position: absolute;
	left: 0px;
	top: 0px;
}

.fosforo5 {
  position: absolute;
	transform: rotate(45deg);
	left:34px;
	top:0px
}
.contenedor-grupos {
  display: flex;
  flex-wrap: wrap; /* Permite que los grupos se ajusten en nuevas filas */
  gap: 10px; /* Espacio entre los grupos */
  justify-content: center; /* Opcional: centra los grupos horizontalmente */
}