@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*>* {
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	margin: 0;
}

#site-main {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	height: 100vh;
}

/* 
#site-main .board {
	padding: 2em 0;
	border-radius: .2em;
}

.text-dark {
	color: #f5f3f4;
}

.text-light {
	color: var(--color-light);
}

ul {
	list-style-type: none;
	padding: 0;
}

ul>li .flex {
	color: var(--color-dark);
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2em;
	margin-top: 1em;
	text-align: left;
	background-color: var(--active);
	padding: .8em 0;
	border-radius: 10px;
	box-shadow: 1px 10px 20px #858b9259;
}

ul>li img {
	border-radius: 50%;
	width: 20%;
}

.upcoming {
	margin-top: 1em;
}

.section-title {
	margin-top: 1em;
} */