.list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.list-item {
	border-bottom: 1px solid #ddd;

}

.flex {
	display: flex;
	align-items: center;
}

.flex img {
	border-radius: 50%;
	margin-right: 10px;

}

.title {
	display: flex;
	flex-direction: column;
}

.name {
	font-weight: bold;
	border: 2px solid red;

}
